In [1]:
import pandas as pd

In [2]:
data = {
    "outlook": ["sunny", "sunny", "overcast", "rainy", "rainy", "rainy", "overcast", "sunny", "sunny", "rainy", "sunny", "overcast", "overcast", "rainy"],
    "temperature": ["hot", "hot", "hot", "mild", "cool", "cool", "cool", "mild", "cool", "mild", "mild", "mild", "hot", "mild"],
    "humidity": ["high", "high", "high", "high", "normal", "normal", "normal", "high", "normal", "normal", "normal", "high", "normal", "high"],
    "windy": [False, True, False, False, False, True, True, False, False, False, True, True, False, True],
    "play": ["no", "no", "yes", "yes", "yes", "no", "yes", "no", "yes", "yes", "yes", "yes", "yes", "no"]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
print(df)

     outlook temperature humidity  windy play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

In [5]:
print("First few rows of the dataset:")
print(df.head())

First few rows of the dataset:
    outlook temperature humidity  windy play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [6]:
print("\nLast few rows of the dataset:")
print(df.tail())

Last few rows of the dataset:
     outlook temperature humidity  windy play
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

In [7]:
# b solution
print("First few rows of the dataset:")
print(df.head())

print("\nLast few rows of the dataset:")
print(df.tail())

First few rows of the dataset:
    outlook temperature humidity  windy play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

Last few rows of the dataset:
     outlook temperature humidity  windy play
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

In [8]:
# c solution
dimensions = df.shape
print(f"The dataset has {dimensions[0]} rows and {dimensions[1]} columns.")

The dataset has 14 rows and 5 columns.

In [9]:
# d solution
column_names = df.columns
print("Column names in the dataset:")
print(column_names)

Column names in the dataset:
Index(['outlook', 'temperature', 'humidity', 'windy', 'play'], dtype='object')

In [10]:
# e solution
# Get information about the dataset
print("Dataset Information:")
print(df.info())

print("\nData Types:")
print(df.dtypes)

print("\nMissing Values:")
print(df.isnull().sum())

# Additional insights
print("\nFirst few rows of the dataset:")
print(df.head())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   outlook      14 non-null     object
 1   temperature  14 non-null     object
 2   humidity     14 non-null     object
 3   windy        14 non-null     bool
 4   play         14 non-null     object
dtypes: bool(1), object(4)
memory usage: 594.0+ bytes
None

Data Types:
outlook        object
temperature    object
humidity       object
windy            bool
play           object
dtype: object

Missing Values:
outlook        0
temperature    0
humidity       0
windy          0
play           0
dtype: int64

First few rows of the dataset:
    outlook temperature humidity  windy play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes